body {
  background-color: #000000;
  margin: 0;
}

.icon {
  color: #ffffff;
  font-size: 128px;
  font-family: icomoon;
}

.icon1::before {
  content: "\e995";
}
.icon2::before {
  content: "\e985";
}
.icon3::before {
  content: "\e987";
}
.icon4::before {
  content: "\e9bc";
}
.icon5::before {
  content: "\e998";
}
.icon6::before {
  content: "\e989";
}
.icon7::before {
  content: "\e9e3";
}
.icon8::before {
  content: "\e9dc";
}
.icon9::before {
  content: "\e9db";
}
.icon10::before {
  content: "\e98d";
}
.icon11::before {
  content: "\e9dd";
}
.icon12::before {
  content: "\e9d8";
}
.icon13::before {
  content: "\e9e0";
}
.icon14::before {
  content: "\e966";
}
.icon15::before {
  content: "\e9d9";
}
.icon16::before {
  content: "\e9ce";
}
.icon17::before {
  content: "\e969";
}
.icon18::before {
  content: "\e9c8";
}
.icon19::before {
  content: "\e9a6";
}
.icon20::before {
  content: "\ea01";
}
.icon21::before {
  content: "\e9a5";
}
.icon22::before {
  content: "\e9a9";
}
.icon23::before {
  content: "\e98e";
}
.icon24::before {
  content: "\e9b7";
}
.icon25::before {
  content: "\e98b";
}
.icon26::before {
  content: "\e9ea";
}
.icon27::before {
  content: "\ea00";
}
.icon28::before {
  content: "\e9c9";
}
.icon29::before {
  content: "\ea07";
}
.icon30::before {
  content: "\e9cb";
}
.icon31::before {
  content: "\e9b8";
}
.icon32::before {
  content: "\e968";
}
.icon33::before {
  content: "\e923";
}
.icon34::before {
  content: "\e96a";
}
.icon35::before {
  content: "\ea06";
}
.icon36::before {
  content: "\ea05";
}
.icon37::before {
  content: "\e9e6";
}
.icon38::before {
  content: "\e9e5";
}
.icon39::before {
  content: "\e924";
}
.icon40::before {
  content: "\e9e8";
}
.icon41::before {
  content: "\e9c1";
}
.icon42::before {
  content: "\e9e9";
}
.icon43::before {
  content: "\ea0a";
}
.icon44::before {
  content: "\e978";
}
.icon45::before {
  content: "\e979";
}
.icon46::before {
  content: "\e918";
}
.icon47::before {
  content: "\e944";
}
.icon48::before {
  content: "\e962";
}
.icon49::before {
  content: "\e9fd";
}
.icon50::before {
  content: "\e952";
}
.icon51::before {
  content: "\e9d7";
}
.icon52::before {
  content: "\e9eb";
}
.icon53::before {
  content: "\e958";
}
.icon54::before {
  content: "\e9bb";
}
.icon55::before {
  content: "\e984";
}
.icon56::before {
  content: "\e931";
}
.icon57::before {
  content: "\e98c";
}
.icon58::before {
  content: "\e9f1";
}
.icon59::before {
  content: "\e9f0";
}
.icon60::before {
  content: "\e96b";
}
.icon61::before {
  content: "\e9fb";
}
.icon62::before {
  content: "\e9fc";
}
.icon63::before {
  content: "\e9fe";
}
.icon64::before {
  content: "\e9ff";
}
.icon65::before {
  content: "\e9aa";
}
.icon66::before {
  content: "\e9c4";
}
.icon67::before {
  content: "\e996";
}
.icon68::before {
  content: "\e974";
}
.icon69::before {
  content: "\e99c";
}
.icon70::before {
  content: "\e97b";
}
.icon71::before {
  content: "\e998";
}
.icon72::before {
  content: "\e94e";
}
.icon73::before {
  content: "\e9b6";
}
.icon74::before {
  content: "\e94f";
}
.icon75::before {
  content: "\e94b";
}
.icon76::before {
  content: "\e9c7";
}
.icon77::before {
  content: "\e9f2";
}
.icon78::before {
  content: "\e9d1";
}
.icon79::before {
  content: "\e915";
}
.icon80::before {
  content: "\e9b9";
}


















